.background {
    background-image: url('../../assets/5172658-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundLeft{
    background-image: url('../../assets/5172658-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: cover;
}