@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin:0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    left:0;
    right:0;
    top:0;
    bottom:auto;
}